<div class="div-company"> 
    <div class="div-body">
    <div class="div-header">
        <h1>FlyOver Visa Consultants Pvt (Ltd)</h1>
    </div>
    <p>FLYOVER VISA CONSULTANTS (PVT) LTD is a distinguished Sri Lankan company managed by a team of highly qualified and skilled professionals, including efficient migration consultants, lawyers, and counselors with extensive expertise and resources at their disposal. Together, we provide an exceptional migration service.
        <br>Our top priority is to offer a satisfaction-guaranteed service to our valued clients while maintaining excellence in the services we provide. During your first visit, we provide the latest invaluable information and free counseling, empowering you with the knowledge to accomplish your goals efficiently. We guide you all the way, ensuring success in your chosen field.
       <br> We take pride in being one of the leading organizations in Colombo, Sri Lanka, providing Visa facilitation support services for most overseas countries. With our unwavering commitment to providing personalized attention and exceptional service, we guarantee a seamless and stress-free experience for our clients.</p>
    </div>
    <div class="div-img">
    <img src="https://img.freepik.com/free-photo/map-wood-classy-world-wide-black_1134-896.jpg?size=626&ext=jpg&ga=GA1.1.1919141715.1695224096&semt=ais" alt="image" class="image">
    </div>
</div>