<div class="div-body">
    <h1>Visa Types</h1>
    <div class="div-details-1">
        <div class="div-visa 1">
            <img src="https://img.freepik.com/free-photo/group-diverse-grads-throwing-caps-up-sky_53876-56031.jpg?size=626&ext=jpg&ga=GA1.1.1919141715.1695224096&semt=ais" alt="" width="400px" height="400px">
            <h2>Student Visa</h2>
            <p>
                In our country Sri Lanka, there are around 300,000 students annually who sit for their advanced-level examinations. Among them, the majority wish and plan to continue their higher studies overseas. 
                But what most students are ignorant about is understanding the procedure, and selecting a country and a subject that should best suit their profile.
            </p>
        </div>
        <div class="div-visa 2">
            <img src="https://img.freepik.com/free-photo/modern-equipped-computer-lab_23-2149241213.jpg?size=626&ext=jpg&ga=GA1.1.1919141715.1695224096&semt=sph" alt="" width="400px" height="400px">
            <h2>Work Visa</h2>
            <p>
                These visas are enunciated by different immigration lawyers and advisers pertaining to different countries’ laws and regulations. 
                There are two types of work visas as follows,<br><br>
                Temporary work visa<br>
                Permanent work visa
            </p>
        </div>
        <div class="div-visa 3">
            <img src="https://img.freepik.com/free-photo/medium-shot-woman-working-laptop_23-2149300643.jpg?size=626&ext=jpg&ga=GA1.1.1919141715.1695224096&semt=sph" alt="" width="400px" height="400px">
            <h2>Business & Entrepreneur Visa</h2>
            <p>
                If you have a business purpose such as;
                Attending meetings, conferences and negotiations, Investigating personal investment or job opportunities Representing a foreign government on official business, 
                Representing an overseas entity in negotiations and investigations of business opportunities etc…
            </p>
        </div>
    </div>
    <div class="div-details-2">
        <div class="div-visa 4">
            <img src="https://img.freepik.com/free-photo/happy-stylish-man-casual-clothes-standing-cliff-mountain_158538-13995.jpg?size=626&ext=jpg&uid=R117343551&ga=GA1.1.1919141715.1695224096&semt=sph" alt="" width="400px" height="400px">
            <h2>Permanent Residency</h2>
            <p>
                Receiving Permanent Residency from top-rank countries like Australia, New Zealand, Canada, etc.. could be a dream of anybody. 
                Wwvisa is always there to assist you, in checking your eligibility, guide you through the visa processing to update you always with changes in immigration law in any country at any time.
            </p>
        </div>
        <div class="div-visa 5">
            <img src="https://img.freepik.com/premium-photo/young-man-arms-outstretched-by-sea-sunrise-enjoying-freedom-life-people-travel-wellbeing-concept_169160-68.jpg?size=626&ext=jpg&uid=R117343551&ga=GA1.1.1919141715.1695224096&semt=sph" alt="" width="400px" height="400px">
            <h2>Visitor Visa</h2>
            <p>
                The Visit Visa also known as Tourist Visa is a type of non-immigrant visa for individuals desiring to enter a country of their choice, temporarily for different purposes such as business, pleasure, 
                tourism or medical treatment, visiting friends or family and family re-union for a restricted period of time.
            </p>
        </div>
        <div class="div-visa 6">
            <img src="https://img.freepik.com/free-photo/full-shot-woman-travel-concept_23-2149153259.jpg?size=626&ext=jpg&uid=R117343551&ga=GA1.1.1919141715.1695224096&semt=sph" alt="" width="400px" height="400px">
            <h2>Tourist Visa</h2>
            <p><br>
                If you’re planning to visit another country for tourism purposes, our tourist visa consultant service can be a valuable resource.
                 our experience tourist visa consultant offices will help you to visas from the countries that you are looking forward to visiting.
            </p>
        </div>
    </div>
</div>
